{% extends "bootstrap/base.html" %}
{% block title %}HomeTuner{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/images/logo_blue_cyan.png" height="20"
                                                      width="20"></a>
                {% if name.count(':') > 4 %}
                    <p class="navbar-right navbar-text"><u><a href="/settings">Set your name here!</a></u></p>
                {% else %}
                    <p class="navbar-right navbar-text">Signed in as {{ name }}.</p>
                {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li{% if request.path == "/" %} class="active"{% endif %}>
                        <a href="/" class="btn">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </a>
                    </li>
                    <li{% if request.path == "/settings" %} class="active"{% endif %}>
                        <a href="/settings" class="btn">
                            <span class="glyphicon glyphicon-wrench"></span> Settings
                        </a>
                    </li>
                    <li{% if request.path == "/suspend" %} class="active"{% endif %}>
                        <a href="/suspend" class="btn">
                            <span class="glyphicon glyphicon-log-out"></span> Exit house
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-8 col-md-6 center-block" style="float: none">
                <a href="/"><img src="/static/images/full_blue_cyan.png" class="img-responsive"></a>
            </div>
        </div>
        <div class="row">
            {% block center %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='hometuner.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-slider.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='bootstrap-slider.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='hometuner.css') }}" rel="stylesheet">
{% endblock %}