{% extends "bootstrap/base.html" %}
{% block title %}HomeTuner{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="col-lg-6 row center-block" style="float: none">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ id }}?rel=0"></iframe>
            </div>
        </div>
        <form class="form-horizontal center-block col-md-6" style="float: none;margin-top: 20px">
            <button class="btn btn-success center-block btn-lg" type="submit" id="addBtn" style="width: 30%">
                Add <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-danger center-block btn-lg hidden" type="submit" id="RemoveBtn" style="width: 30%">
                Remove <span class="glyphicon glyphicon-minus"></span>
            </button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='download.js') }}"></script>
{% endblock %}